/* screen - frame-1 */

.frame-1 {
  background-color: #1a1a1a;
  height: 100vh;
  margin: 0px;
  min-height: 4000px;
  min-width: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.frame-1 .arrow-1-iPe1yZ {
  background-color: transparent;
  height: 8.45%;
  left: 41.93%;
  mix-blend-mode: normal;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 11.01%;
  transition: all 0.2s ease;
  width: 3.75%;
}
.frame-1 .arrow-1-iPe1yZ:hover {

transform: scale(1.1);
}
.frame-1 .arrow-2-iPe1yZ {
  background-color: transparent;
  height: 8.45%;
  left: 71.46%;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 11.57%;
  width: 3.75%;
}
.frame-1 .bg-C61RwL {
  background-color: transparent;
  height: 4000px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.frame-1 .component-7-C61RwL {
  background-color: transparent;
  height: 874px;
  left: 289px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1819px;
  width: 1387px;
}
.frame-1 .dream-it-we-ll-make-it-C61RwL {
  background-color: transparent;
  height: auto;
  left: 289px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 707px;
  width: auto;
}
.frame-1 .email-SbihJB {
  background-color: transparent;
  height: calc(100.00% - 566px);
  left: 518px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 270px;
  width: calc(100.00% - 1480px);
}
.frame-1 .footer-C61RwL {
  background-color: transparent;
  height: 899px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3101px;
  width: 1920px;
}
.frame-1 .get-in-touch-C61RwL {
  background-color: transparent;
  height: 630px;
  left: 240px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2424px;
  width: 1633px;
}
.frame-1 .get-in-touch-SbihJB {
  background-color: transparent;
  height: 12.94%;
  left: 28.64%;
  mix-blend-mode: normal;
  position: absolute;
  top: 1.15%;
  width: 36.77%;
}
.frame-1 .get-started-book-a-call-xHKBoo {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-mont-heavydemo);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}
.frame-1 .group-1-C61RwL {
  background-color: transparent;
  height: 2283px;
  left: 397px;
  position: absolute;
  top: 108px;
  width: 2061px;
}
.frame-1 .here-in-montreal-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 326px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1577px;
  width: 1600px;
}
.frame-1 .icon-logo-1-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 1487px;
  mix-blend-mode: normal;
  position: absolute;
  top: 81px;
  width: 87px;
}
.frame-1 .icon-logo-2-iPe1yZ {
  background-color: transparent;
  height: 5.34%;
  left: 3.85%;
  mix-blend-mode: normal;
  position: absolute;
  top: 6.23%;
  width: 4.53%;
}
.frame-1 .lo-go-4TO2uA {
  background-color: transparent;
  height: 25.40%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 128px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15.72%;
}
.frame-1 .lo-go-8dzfnc {
  background-color: transparent;
  height: 25.40%;
  left: 46.72%;
  letter-spacing: 0.00px;
  line-height: 128px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15.72%;
}
.frame-1 .lo-go-MC8XBE {
  background-color: transparent;
  height: 25.40%;
  left: 36.91%;
  letter-spacing: 0.00px;
  line-height: 128px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 32.84%;
  width: 15.72%;
}
.frame-1 .lo-go-XPLEEc {
  background-color: transparent;
  height: 25.40%;
  left: 60.92%;
  letter-spacing: 0.00px;
  line-height: 128px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 32.84%;
  width: 15.72%;
}
.frame-1 .lo-go-uuDdQe {
  background-color: transparent;
  height: 25.40%;
  left: 23.79%;
  letter-spacing: 0.00px;
  line-height: 128px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 15.72%;
}
.frame-1 .menu-C61RwL {
  background-color: transparent;
  height: 32px;
  left: 107px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 89px;
  width: 50px;
}
.frame-1 .monday-friday-8-nfosweemarketca-C61RwL {
  background-color: transparent;
  height: 170px;
  left: 149px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3370px;
  width: 528px;
}
.frame-1 .name-SbihJB {
  background-color: transparent;
  height: calc(100.00% - 566px);
  left: 3px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 269px;
  width: calc(100.00% - 1483px);
}
.frame-1 .our-servies-out-eam-get-support-C61RwL {
  background-color: transparent;
  height: auto;
  left: 800px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3289px;
  width: 591px;
}
.frame-1 .primary-button-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 1255px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 2694px;
  transition: all 0.2s ease;
  width: 414px;
}
.frame-1 .primary-button-C61RwL:hover {

transform: scale(1.1);
}
.frame-1 .primary-button-VMr6Om {
  background-color: transparent;
  height: 48px;
  left: 1587px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 81px;
  transition: all 0.2s ease;
  width: 202px;
}
.frame-1 .primary-button-VMr6Om:hover {

transform: scale(1.1);
}
.frame-1 .rectangle-1-SbihJB {
  background-color: transparent;
  border: 0;
  height: 10.16%;
  left: 0px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  top: 42.70%;
  width: 25.35%;
}
.frame-1 .rectangle-2-SbihJB {
  background-color: transparent;
  border: 0;
  height: 10.16%;
  left: 30.99%;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  top: 42.70%;
  width: 25.90%;
}
.frame-1 .rectangle-3-SbihJB {
  background-color: transparent;
  border: 0;
  height: 40.16%;
  left: 0px;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  top: 59.84%;
  width: 87.94%;
}
.frame-1 .rectangle-4-iPe1yZ {
  background-color: #000000;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}
.frame-1 .rectangle-emxJLB {
  background-color: #541dff;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}
.frame-1 .rectangle-xHKBoo {
  background-color: #b5bdf4;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}
.frame-1 .round-2-VyzZeT {
  background-color: transparent;
  height: 1070px;
  left: 356px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1082px;
}
.frame-1 .round-3-VyzZeT {
  background-color: transparent;
  height: 1070px;
  left: 979px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1213px;
  width: 1082px;
}
.frame-1 .sans-titre-1-1-VyzZeT {
  background-color: transparent;
  height: 814px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 1793px;
}
.frame-1 .search-C61RwL {
  background-color: transparent;
  height: 0.90%;
  left: 8.85%;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2.12%;
  width: 1.88%;
}
.frame-1 .send-emxJLB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}
.frame-1 .tell-us-little-more-SbihJB {
  background-color: transparent;
  height: calc(100.00% - 552px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 377px;
  width: calc(100.00% - 1262px);
}
.frame-1 .terms-condition-weee-suply-inc-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1374px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3289px;
  width: 591px;
}
.frame-1 .vector-51qBGa {
  background-color: transparent;
  height: 6.25%;
  left: 10.00%;
  position: absolute;
  top: 71.88%;
  width: 80.00%;
}
.frame-1 .vector-D7xXBT {
  background-color: transparent;
  height: 25.00%;
  left: 65.94%;
  position: absolute;
  top: 65.94%;
  width: 25.00%;
}
.frame-1 .vector-SQ9Gz0 {
  background-color: transparent;
  height: 6.25%;
  left: 10.00%;
  position: absolute;
  top: 46.88%;
  width: 80.00%;
}
.frame-1 .vector-YEvs0s {
  background-color: transparent;
  height: 72.22%;
  left: 9.72%;
  position: absolute;
  top: 9.72%;
  width: 72.22%;
}
.frame-1 .vector-dwb8Kj {
  background-color: transparent;
  height: 6.25%;
  left: 10.00%;
  position: absolute;
  top: 21.88%;
  width: 80.00%;
}
.frame-1 .we-do-it-all-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 747px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1119px;
  width: 548px;
}
.frame-1 .we-want-to-help-n-to-all-screen-SbihJB {
  background-color: transparent;
  height: 49.05%;
  left: 1.53%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10.48%;
  width: 98.59%;
}
.frame-1 .websites-made-simpler-C61RwL {
  background-color: transparent;
  height: 222px;
  left: 429px;
  mix-blend-mode: normal;
  position: absolute;
  top: 485px;
  width: 678px;
}
.frame-1 .well-work-arrou-specific-needs-C61RwL {
  background-color: transparent;
  height: auto;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1178px;
  width: 1610px;
}
.frame-1 .weve-made-a-few-ings-since-2020-C61RwL {
  background-color: transparent;
  height: 325px;
  left: 1670px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1810px;
  width: 611px;
}
.frame-1 .wordmark-alpha-electric-blue-1-iPe1yZ {
  background-color: transparent;
  height: 4.23%;
  left: 8.80%;
  mix-blend-mode: normal;
  position: absolute;
  top: 6.79%;
  width: 12.45%;
}
